In [4]:
import numpy as np
import pandas as pd

In [6]:
true = pd.read_csv('True.csv')
fake = pd.read_csv('Fake.csv')

In [8]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [10]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [12]:
true['label']=1
fake['label']=0

In [14]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [16]:
news=pd.concat([true,fake],axis=0)

In [18]:
news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [20]:
news.tail()

,title,text,subject,date,label
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [22]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [24]:
news = news.drop(['title','subject','date'],axis=1)

In [26]:
news.head()

                                                text  label
0  WASHINGTON (Reuters) - The head of a conservat...      1
1  WASHINGTON (Reuters) - Transgender people will...      1
2  WASHINGTON (Reuters) - The special counsel inv...      1
3  WASHINGTON (Reuters) - Trump campaign adviser ...      1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      1

In [28]:
news = news.sample(frac=1)

In [30]:
news.head()

                                                    text  label
5579   WASHINGTON (Reuters) - The U.S. Senate panel t...      1
14094  BEIJING (Reuters) - China wants closer ties wi...      1
6098   WASHINGTON (Reuters) - President Donald Trump’...      1
20374  WASHINGTON (Reuters) - The White House said on...      1
6326   Democrats are days away from launching a multi...      0

In [32]:
news.reset_index(inplace=True)
news.head()

   index                                               text  label
0   5579  WASHINGTON (Reuters) - The U.S. Senate panel t...      1
1  14094  BEIJING (Reuters) - China wants closer ties wi...      1
2   6098  WASHINGTON (Reuters) - President Donald Trump’...      1
3  20374  WASHINGTON (Reuters) - The White House said on...      1
4   6326  Democrats are days away from launching a multi...      0

In [34]:
news=news.drop(['index'],axis=1)

In [36]:
news.head()

                                                text  label
0  WASHINGTON (Reuters) - The U.S. Senate panel t...      1
1  BEIJING (Reuters) - China wants closer ties wi...      1
2  WASHINGTON (Reuters) - President Donald Trump’...      1
3  WASHINGTON (Reuters) - The White House said on...      1
4  Democrats are days away from launching a multi...      0

In [38]:
news.tail()

                                                    text  label
44893  This is great and so wonderful to see the posi...      0
44894  MADRID (Reuters) - A statement by the leader o...      1
44895                                                         0
44896  NEW YORK (Reuters) - Billionaire hedge fund ma...      1
44897  Asking thug, Michael Brown s mom to speak at t...      0

In [40]:
import re

In [42]:
def cleantext(text):
    text = text.lower()
    text = re.sub(r'https?://\S+|ww\.\S+',' ',text)
    text = re.sub(r'<.*?>',' ',text)
    text = re.sub(r'[^\w\s]',' ',text)
    text = re.sub(r'\d',' ',text)
    text = re.sub(r'\n',' ',text)
    return text

In [44]:
news['text'] = news['text'].apply(cleantext)

In [45]:
news['text']

0        washington  reuters    the u s  senate panel t...
1        beijing  reuters    china wants closer ties wi...
2        washington  reuters    president donald trump ...
3        washington  reuters    the white house said on...
4        democrats are days away from launching a multi...
                               ...
44893    this is great and so wonderful to see the posi...
44894    madrid  reuters    a statement by the leader o...
44895
44896    new york  reuters    billionaire hedge fund ma...
44897    asking thug  michael brown s mom to speak at t...
Name: text, Length: 44898, dtype: object

In [46]:
x = news['text']
y = news['label']

In [47]:
x.shape

(44898,)

In [48]:
y.shape

(44898,)

In [54]:
x

0        washington  reuters    the u s  senate panel t...
1        beijing  reuters    china wants closer ties wi...
2        washington  reuters    president donald trump ...
3        washington  reuters    the white house said on...
4        democrats are days away from launching a multi...
                               ...
44893    this is great and so wonderful to see the posi...
44894    madrid  reuters    a statement by the leader o...
44895
44896    new york  reuters    billionaire hedge fund ma...
44897    asking thug  michael brown s mom to speak at t...
Name: text, Length: 44898, dtype: object

In [56]:
y

0        1
1        1
2        1
3        1
4        0
        ..
44893    0
44894    1
44895    0
44896    1
44897    0
Name: label, Length: 44898, dtype: int64

In [58]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,random_state=50)

In [60]:
x_train.shape

(35918,)

In [62]:
y_train.shape

(35918,)

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer
vector = TfidfVectorizer()

In [66]:
x_train_vector = vector.fit_transform(x_train)
x_test_vector = vector.transform(x_test)

In [70]:
x_train_vector

<35918x102674 sparse matrix of type '<class 'numpy.float64'>'
	with 7388797 stored elements in Compressed Sparse Row format>

In [72]:
x_test_vector

<8980x102674 sparse matrix of type '<class 'numpy.float64'>'
	with 1821834 stored elements in Compressed Sparse Row format>

In [74]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [76]:
model=lr.fit(x_train_vector,y_train)

In [78]:
y_pred=model.predict(x_test_vector)

In [80]:
lr.score(x_test_vector,y_test)

0.9880846325167038

In [88]:
from sklearn import metrics

In [112]:
print("Classification Matrics: \n", metrics.classification_report(y_test,y_pred))

Classification Matrics:
               precision    recall  f1-score   support

           0       0.99      0.99      0.99      4703
           1       0.99      0.99      0.99      4277

    accuracy                           0.99      8980
   macro avg       0.99      0.99      0.99      8980
weighted avg       0.99      0.99      0.99      8980